$main-color: #013399;
$secondary-color: #ff6600;
$light-blue: #eef4ff;
$text-color: #3e3e3e;
$dark-grey: #687173;
$userInfo: #3e3e3e;
$white-color: white;
$light-grey: #b4b4b4;
$text_dark_gray: #232323;
$text_medium_gray: #929292;
$dark-white: #fafafa;
$text_error: #ff3737;
$white_border: #ebebeb;
$success_text: #00bd71;
$active: #04992e;
$pending: #ff4949;
$inprogress: #f8bf1d;
$smokewhite: #f3f3f3;
$light_orange: #fff7f2;
$light_white: #d9d9d9;
$paleblue: #e7ebf6;
$navyBlue: #072769;
$cascadingWhite: #f6f6f6;
$green-status:#197E17;
$green-status-bg:#BCD0BC;
$sidebar_active:rgba(255, 102, 0, 0.05);
$text-color:#3E3E3E;
